body {
  background-color: #010165;
  margin: 0px;
}
.header {
  background-color: #00ffff;
  text-align: center;
}
.title-row {
  margin-top: 42px;
  margin-bottom: 21px;
  text-align: center;
}
.instructions-title {
  display: inline;
  font-size: 18px;
  color: #00ffff;
  font-family: "Work Sans";
}
.instruction-row {
  margin: 30px auto;
  width: 400px;
}
.instruction-number {
  font-family: "Work Sans";
  font-size: 35px;
  color: #00ffff;
}
.instruction-text {
  padding: 3px;
  font-family: "Work Sans";
  font-size: 14px;
  color: #ffffff;
}
.door-row {
  text-align: center;
  margin-top: 30px;
}
.door-frame {
  cursor: pointer;
  padding: 30px;
}
.start-row {
  margin: auto;
  width: 160px;
  height: 50px;
  font-family: "Work Sans";
  background-color: #00ffff;
  padding-top: 15px;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  color: #010165;
  border-radius: 2px;
  margin-top: 30px;
  cursor: pointer;
}
